<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edicion de entrega del libro {{ object }} </h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'libro:editar_entrega_libro' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div id="erroresEdicion">

                </div>
                
                <div class="form-group">
                    <label for="{{form.id_reserva.name}}">{{form.id_reserva.label}}</label>
                    {{form.id_reserva}}
                </div>
                <div class="form-group">
                    <label for="{{form.fecha_entrega.name}}">{{form.fecha_entrega.label}}</label>
                    {{form.fecha_entrega}}
                </div>
                              
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar();">Confirmar</button>
            </div>
        </form>
        
    </div>
</div>